/* Museo Slab 700 */
@font-face {
	font-family: 'Museo Slab W03_700';
	src: url('../fonts/6cbd88cd-166d-48cc-b610-3b068efd827c.eot');
	src: url('../fonts/6cbd88cd-166d-48cc-b610-3b068efd827c.eot') format('embedded-opentype'),
		url('../fonts/c8f84ac0-42bf-4a3b-bd29-20af6769569d.woff2') format('woff2'),
		url('../fonts/87b34905-6160-4e56-9c57-252b84e4b6b5.woff') format('woff'),
		url('../fonts/7bade093-adbd-4ed6-bdd9-3f00e27010be.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
/* muli-300 - latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/muli-v11-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Muli Light'), local('Muli-Light'),
       url('../fonts/muli-v11-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/muli-v11-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/muli-v11-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/muli-v11-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/muli-v11-latin-300.svg#Muli') format('svg'); /* Legacy iOS */
}

/* muli-regular - latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/muli-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Muli Regular'), local('Muli-Regular'),
       url('../fonts/muli-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/muli-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/muli-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/muli-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/muli-v11-latin-regular.svg#Muli') format('svg'); /* Legacy iOS */
}

/* muli-700 - latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/muli-v11-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Muli Bold'), local('Muli-Bold'),
       url('../fonts/muli-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/muli-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/muli-v11-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/muli-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/muli-v11-latin-700.svg#Muli') format('svg'); /* Legacy iOS */
}
