/* reset */
*,*:before,*:after{margin:0;border:0;padding:0;box-sizing:border-box}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}

/* variables */
:root {
    --primary_color: rgb(21, 21, 21);
    --secondary_color: rgb(255, 255, 255);
    --marking_color: rgb(242, 145, 0);
    /*--primary_font:;*/
    --secondary_font: sans-serif;
    --max_page_width: 960px;
}


/* custom styles */
.sr {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.icon { 
    /* 
    icon-envelope-o
    icon-external-link
    icon-phone
    icon-twitter
    icon-github
    icon-linkedin
    icon-instagram
    icon-skype
    icon-foursquare
    icon-wordpress
    icon-spotify
     */
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    vertical-align: sub;
}

.orange {
    background-color: var(--marking_color);
    color: var(--secondary_color);
}

body {
    color: var(--primary_color);
    font-family: var(--secondary_font);
    display: grid;
    align-content: center;
    justify-content: center;
}

h2, h3 {
    color: var(--marking_color);
}

a {
    color: var(--primary_color);
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    text-decoration: none;
}

a:hover {
    color: var(--marking_color);
}

address {
    font-style: normal;
}

header {
    background-color: var(--secondary_color);
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 1rem 0;
}

header ul.social {
    text-align: right;
}

section ul li {
    font-weight: 600;
    list-style-type: none;
}

header, section {
    max-width: var(--max_page_width);
}

@media only screen and (max-width: 959px) {
    header, section {
        padding: 0 1rem;
        width: 100%;
    }
    header {
        grid-template-columns: 100%;
        font-size: 0.9rem;
        padding: 2rem 1rem;
        text-align: center;
    }
    header ul.social {
        text-align: center;
    }
}

/* layout tests */ 
header ul li {
    display: inline;
}
